<div id="<%= dom_id rent %>">
  <p>
    <strong>Author:</strong>
    <%= rent.book.author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= rent.book.title %>
  </p>

  <p>
    <strong>Rent status:</strong>
    <%= rent.status %>
  </p>

  <%= button_to("Return this book", return_book_path(rent), method: :patch) if rent.ongoing? %>

</div>
