<div class="card text-secondary bg-dark rent-card">

  <%= image_tag(rent.book.cover, alt: "book cover", class: "rent-book-cover") if rent.book.cover.attached? %>

  <div class="card-body rent-card-body">
    <div>
      <h5 class="card-title"><%= link_to rent.book.title, rent.book, class: "book-title" %></h5>
      <p class="card-text"><%= rent.book.author %></p>
      <p class="card-text">Rented: <%= rent.created_at.to_date.to_fs(:rfc822) %></p>
      <% if rent.ended_at %>
        <p class="card-text">Returned: <%= rent.ended_at.to_date.to_fs(:rfc822) %></p>
      <% end %>
    </div>
    <%= return_button(rent) %>
  </div>

</div>
