<div class="card book-card">

  <div class="card-header">
    <%= book.status %>
  </div>

  <div class="card-body book-body">
    <div>
      <h5 class="card-title book-title"><%= book.title %></h5>
      <p class="card-text"><%= book.author %></p>
    </div>
    <div class="book-card-links">
      <%= button_to("Rent this book", rent_book_path(book), method: :patch, class: 'btn btn-primary') if book.available? %>
      <%= link_to "Show", book, class: 'card-link' %>
    </div>
  </div>
</div>
