<h1>Library</h1>

<%= link_to "New book", new_book_path %>

<p>
  Show only:
  <%= link_to "Available", books_path(status: 'available') %>
  <%= link_to "Rented", books_path(status: 'rented') %>
  <%= link_to "All", books_path() %>
</p>

<% if @books.empty? %>
  <p>No books found.</p>
<% end %>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
  <% end %>
</div>

<%= raw pagy_bootstrap_nav(@pagy) %>
