<div class="card text-white bg-dark show-book">
  <div class="card-body show-book-body">
    
    <div class="show-book-side">
      <%= image_tag(@book.cover, alt: "book cover", class: "show-book-cover") if @book.cover.attached? %>
      <div class="show-book-card-links">
      <%= rent_button(@book) %>
      <% if admin_signed_in? %>
        <%= link_to "Edit this book", edit_book_path(@book), class: "btn btn-success rent-button" %>
        <%= button_to "Delete this book", @book, method: :delete, class: "btn btn-danger rent-button" %>
      <% end %>
    </div>
    </div>

    <div class="show-book-info">
      <h2><%= @book.title %></h2>
      <h6 class="text-secondary"><%= @book.author %></h6>
      <p>
        <strong>Status:</strong>
        <%= book_status(@book) %>
      </p>
        <%= @book.description %>
    </div>
  </div>
</div>
