<div class="card show-book">
  <div class="card-body">
    <div class="book-card-links">
      <%= rent_button(@book) %>
      <% if admin_signed_in? %>
        <%= link_to "Edit this book", edit_book_path(@book) %>
        <%= button_to "Delete this book", @book, method: :delete, class: "delete-button" %>
      <% end %>
    </div>

    <p>
      <strong>Author:</strong>
      <%= @book.author %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= book_status(@book) %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @book.description %>
    </p>
  </div>
</div>
