<div class="card show-book">
  <div class="card-body">
    <div class="book-card-links">
      <%= button_to("Rent this book", rent_book_path(@book), method: :patch, class: 'btn btn-primary') if @book.available? %>
      <%= link_to "Edit this book", edit_book_path(@book) %>
    </div>

    <p>
      <strong>Author:</strong>
      <%= @book.author %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @book.status %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @book.description %>
    </p>
  </div>
</div>
