<h1 class="login-header">Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-fields">
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: :off, class: "form-control bg-dark text-light", size: "40", placeholder: "Email" %>
    </div>

    <div class="field">
      <% if resource.errors.messages_for(:password).any? %>
        <%= f.password_field :password, class: "form-control bg-dark text-light is-invalid", placeholder: "Password" %>
      <% else %>
        <%= f.password_field :password, class: "form-control bg-dark text-light", placeholder: "Password" %>
      <% end %>
    </div>

    <div class="field login-texts">
      <div>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me, class: "form-check-input bg-dark remember-me-checkbox" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        <% end %>
      </div>
      <div>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot password?", new_password_path(resource_name) %><br />
        <% end %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>

    <% if devise_mapping.registerable? && controller_name != 'registrations' %>
      <div class="alert login-info bg-dark text-white">Don't have an account? <%= link_to "Sign up", new_registration_path(resource_name) %>.</div><br />
    <% end %>
  </div>
<% end %>
