<h1 class="login-header">Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-fields">
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", size: "40", placeholder: "Email" %>
    </div>

    <div class="field">
      <% if resource.errors.messages_for(:password).any? %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control is-invalid", placeholder: "Password" %>
      <% else %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
      <% end %>
    </div>

    <div class="field login-texts">
      <div>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me, class: "form-check-input remember-me-checkbox" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        <% end %>
      </div>
      <div>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot password?", new_password_path(resource_name) %><br />
        <% end %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
